@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(20, 20, 20);
}

a {
  color: whitesmoke;
  text-decoration: none;
}
.content {
  user-select: none;
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

.name {
  font-size: 1.5rem;
  animation: animate 1s ease-in-out;
  z-index: 2;
}
#nav-items {
  z-index: 2;
}

.nav {
  display: block;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  z-index: 2;

  visibility: hidden;
  animation: animate 1s ease;
  animation-fill-mode: forwards;
  position: relative;
}
.a {
  animation-delay: 250ms;
}
.b {
  animation-delay: 500ms;
}
.c {
  animation-delay: 750ms;
}

@keyframes animate {
  0% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0px;
    visibility: visible;
  }
}
p {
  opacity: 1;
  transition: opacity 400ms ease;
}

#nav-items:hover > p {
  opacity: 0.3;
}
#nav-items:hover > p:hover {
  opacity: 1;
}

#background-pattern {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%,
    transparent 9%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms ease, background-size 800ms ease;
}
#nav-items:hover ~ #background-pattern {
  opacity: 1;
  background-size: 11vmin 11vmin;
}
